.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        margin: 1rem;
        padding: 1.5rem;

        width: 40vw;
        border: 1px solid #707070;
        border-radius: 1rem;

        .intended-list {
            padding-left: 2.5rem;
            padding-top: 0.3125rem;
        }

        .p-float-label,
        input,
        textarea {
            width: 100%
        }

        .field {
            align-self: flex-start;

            display: flex;
            align-items: center;
            gap: 0.5rem;

            i.pi.pi-question-circle {
                color: #707070;
                font-size: 1.5rem;

                &:hover {
                    color: #000;
                }
            }

            .file-upload-element-width {
                width: 22.1875rem;
            }
        }

        .margin-top {
            margin-top: 0.625rem;

        }

        .margin-div {
            margin-bottom: 3.75rem;
        }

        .display-SDG-options {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            margin-top: 1.875rem;
            padding-left: 1.875rem;
        }

        .margin-between-options {
            margin-bottom: 0.3125rem;
        }

        .asterisk-special-field-display {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .margin-special-field {
            margin-left: 0.3125rem;
        }
    }
}

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    align-self: flex-start;
    gap: 0.5rem;
    display: flex;
    align-items: center;

    .p-fileupload-choose {
        justify-content: center;

        .p-button-label {
            margin-left: 0.312rem;
        }
    }
}

.ta-margin {
    margin-top: 10px;
}