<form
  class="form-wrapper"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <h1>Forgot password</h1>
  <div class="input-wrapper">
    Please insert your email account.<br />
    By clicking the button, you will get an email message with link to renew
    password
  </div>

  <div class="input-wrapper">
    <span class="input-title">Email</span>
    <div class="p-inputgroup input-user">
      <span class="p-inputgroup-addon">
        <i class="pi pi-at"></i>
      </span>
      <input pInputText placeholder="Enter a email" formControlName="email" />
    </div>
  </div>

  <button
    pButton
    type="submit"
    class="p-button-primary"
    [disabled]="!forgotPasswordForm.valid"
    [loading]="loading"
  >
    Send me an email
  </button>
</form>
