.dialog-wrapper {
    display: flex;
    flex-direction: column;

    p {
        margin-left: 2rem;
    }

    .input-wrapper {
        width: calc(100% - 4rem);
        margin: 2rem;

        b {
            color: #707070;
            font-size: 1.25rem
        }

        textarea.review {
            margin-top: 0.25rem;
            width: 100%
        }
    }

    button {
        align-self: center;
    }
}