.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        margin: 1rem;
        padding: 1.5rem;

        width: 40vw;
        border: 1px solid #707070;
        border-radius: 1rem;

        .p-float-label,
        input {
            width: 100%
        }

        .field {
            align-self: flex-start;

            display: flex;
            align-items: center;
            gap: 0.5rem;

            i.pi.pi-question-circle {
                color: #707070;
                font-size: 1.5rem;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    align-self: flex-start;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}