<div class="page-wrapper">
  <h1>Seed research funding</h1>

  <form class="form" [formGroup]="seedForm" (ngSubmit)="onSubmit()">
    <app-parent-form [form]="seedForm"></app-parent-form>

    <div class="field">
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload Research Introduction"
        name="file"
        [url]="apiUrl + '/api/file/upload'"
        [maxFileSize]="1000000"
        (onSend)="onUpload($event)"
      ></p-fileUpload>
      <i
        class="pi pi-question-circle"
        pTooltip="introduction including the importance of the proposed topic"
      ></i>
    </div>

    <div class="field">
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload Innovation Project"
        name="file"
        [url]="apiUrl + '/api/file/upload'"
        [maxFileSize]="1000000"
        (onSend)="onUpload($event)"
      ></p-fileUpload>
      <i
        class="pi pi-question-circle"
        pTooltip="The innovation of the proposed project"
      ></i>
    </div>

    <div class="field">
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload External Funding"
        name="file"
        [url]="apiUrl + '/api/file/upload'"
        [maxFileSize]="1000000"
        (onSend)="onUpload($event)"
      ></p-fileUpload>
      <i
        class="pi pi-question-circle"
        pTooltip="Seed money should not fund existing research but new research. Following the seed
        research, the researchers are expected to submit a proposal for external funding.
        Please specify your plans for external funding."
      ></i>
    </div>

    <div class="field">
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload Budget"
        name="file"
        [url]="apiUrl + '/api/file/upload'"
        [maxFileSize]="1000000"
        (onSend)="onUpload($event)"
      ></p-fileUpload>
      <i
        class="pi pi-question-circle"
        pTooltip="Detailed budget request including the different expenses (e.g., purchase of a data
        set, purchase of equipment)"
      ></i>
      change
    </div>

    <app-multi-field
      [form]="seedForm"
      [formArrayName]="'budgetParts'"
      [displayAction]="'Budget Part'"
    ></app-multi-field>

    <button
      pButton
      type="submit"
      class="p-button-primary"
      [disabled]="!seedForm.valid"
      [loading]="loading"
    >
      Submit
    </button>
  </form>
</div>
