<div class="parent-form" [formGroup]="form">
  <span class="p-float-label">
    <input pInputText formControlName="department" />
    <label>Department</label>
  </span>

  <span class="p-float-label">
    <input pInputText formControlName="studyTitle" />
    <label>Study Title</label>
  </span>

  <span class="p-float-label">
    <p-inputNumber
      inputId="integeronly"
      formControlName="amountRequested"
      class="amount"
    ></p-inputNumber>
    <label>Amount Requested</label>
  </span>
</div>
