h1 {
  text-align: center;
  margin-bottom: 2rem;
}

p.intro {
  text-align: center;
  margin-bottom: 2rem;
  color: #707070;
}

.table-wrapper {
  max-width: 90vw;

  .caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  td {
    .amount-given {
      margin-top: 0.25rem;
    }
  }

  button.manage-fields-btn {
    label {
      cursor: pointer;
      margin-left: 0.25rem;
    }
  }

  tr.expanded-row {
    h3 {
      margin-top: 2rem;
    }

    td.expanded-cell {
      padding: 1rem 6rem;

      .custom-fields {
        margin: 1rem 0;

        .custom-field {
          margin-bottom: 0.5rem;
        }
      }
    }

    table.team-members-table {
      width: 80%;
      table-layout: fixed;
      text-align: center;
      margin: 0 auto;
    }

    .budget-part {
      margin: 0.5rem 2rem;
    }

    .reviews {
      .review {
        margin: 0.5rem 0 0.5rem 2rem;
      }
    }
  }
}

.button-structure {
  background: none;
  border: none;
  color: #c298d8;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  padding: 0 0.5rem;
}

.button-structure:hover {
  text-decoration: none;
}

.expanded-content-files {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin: 0.3125rem;
  flex: 1 1 calc(35%);
}
