<p-table [value]="postDoctoralProposals$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>firstName</th>
      <th>lastName</th>
      <th>email</th>
      <th>department</th>
      <th>studyTitle</th>
      <th>amountRequested</th>
      <th>applicationDate</th>
      <th>uniqueFieldPostDoctoral1</th>
      <th>uniqueFieldPostDoctoral2</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-proposal>
    <tr>
      <td>{{ proposal.user.firstName }}</td>
      <td>{{ proposal.user.lastName }}</td>
      <td>{{ proposal.user.email }}</td>
      <td>{{ proposal.department }}</td>
      <td>{{ proposal.studyTitle }}</td>
      <td>{{ proposal.amountRequested }}</td>
      <td>{{ proposal.applicationDate | date }}</td>
      <td>{{ proposal.uniqueFieldPostDoctoral1 }}</td>
      <td>{{ proposal.uniqueFieldPostDoctoral2 }}</td>
    </tr>
  </ng-template>
</p-table>
