<div [formGroup]="form">
  <div [formArrayName]="formArrayName">
    <div
      *ngFor="let field of fields.controls; let i = index"
      [formGroupName]="i"
      class="fields"
    >
      <h3>
        {{ displayAction }} {{ i + 1 }}

        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-danger p-button-text p-button-rounded"
          [pTooltip]="'Remove ' + displayAction"
          (click)="removeField(i)"
        ></button>
      </h3>

      <div *ngIf="formArrayName === 'teamMembers'" class="inputs-wrapper">
        <span class="p-float-label">
          <input pInputText formControlName="memberName" />
          <label>Member Name</label>
        </span>
        <span class="p-float-label">
          <input pInputText formControlName="memberEmail" />
          <label>Member Email</label>
        </span>

        <span class="p-float-label">
          <input pInputText formControlName="memberDepartment" />
          <label>Member Department</label>
        </span>

        <span class="p-float-label">
          <input pInputText formControlName="memberRole" />
          <label>Member Role</label>
        </span>
      </div>

      <div *ngIf="formArrayName === 'budgetParts'" class="inputs-wrapper">
        <span class="p-float-label">
          <input pInputText formControlName="reason" />
          <label>Reason</label>
        </span>

        <span class="p-float-label">
          <p-inputNumber
            inputId="integeronly"
            formControlName="amount"
          ></p-inputNumber>
          <label>Amount</label>
        </span>
      </div>
    </div>
  </div>

  <button
    pButton
    type="button"
    class="p-button-secondary add-member-btn"
    (click)="addField()"
  >
    Add {{ displayAction }}
  </button>

  <div *ngIf="formArrayName === 'budgetParts'" class="total-budget">
    Total Budget: {{ totalBudget | number }}
  </div>
</div>
