.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  border: 1px solid #707070;
  padding: 2rem;
  margin: auto;
  border-radius: 1rem;

  // Base for mobile
  width: 90vw;

  // Media query for tablet/desktop
  @media (min-width: 768px) {
    width: 50vw;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .input-wrapper {
    .input-title {
      color: #707070;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .input-user {
      width: 75vw;

      // Media query for tablet / desktop
      @media (min-width: 768px) {
        width: 30vw;
      }
    }

    .input-password {
      display: flex;

      ::ng-deep .password {
        input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          width: calc(75vw - 3rem);

          // Media query for tablet/desktop
          @media (min-width: 768px) {
            width: calc(30vw - 3rem);
          }
        }
      }
    }

    .must-include-font-size-and-padding {
      font-size: 0.75rem;
      padding-top: 5px;
    }

    .password-strength-font-size {
      font-size: 0.75rem;
    }

    .mat-toggle {
      font-size: 0.75rem;
      padding-top: 10px;
    }

    .mat-toggle-float-padding {
      float: left;
      padding-right: 5px;
    }
  }

  .display-password-details {
    display: flex;
    flex-direction: column;
  }

  .icon-marging::before {
    margin-right: 0.25rem;
  }
}
