<form class="form-wrapper" [formGroup]="renewPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Renew password</h1>
    <div class="input-wrapper">
      <span class="input-title">Password</span>
      <p class="must-include-font-size-and-padding">must include at least 6 characters</p>
      <div class="input-password">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock lock-logo"></i>
        </span>
        <p-password
          placeholder="Enter a password"
          styleClass="password"
          [toggleMask]="true"
          formControlName="password"
          [feedback]="false"
        ></p-password>
      </div>
        <span class="password-strength-font-size">Password strength:</span>
        <mat-password-strength [password]="renewPasswordForm.value['password']"></mat-password-strength>
        <span class="mat-toggle mat-toggle-float-padding">{{showDetailsMassage}}</span>
        <mat-slide-toggle
             class="mat-toggle"
            formControlName="showPasswordStrengthDetailsToggle"
            (change) = "setShowDetails()"> 
        </mat-slide-toggle>
    </div>

    <div *ngIf="showDetails" class="display-password-details">
        <span *ngFor="let passwordDetail of passwordDetails;index as i">
                <i class="pi pi-check icon-marging" *ngIf="isPasswordDetailTrue(i)">{{passwordDetail}}</i>
                <i class="pi pi-times icon-marging" *ngIf="!isPasswordDetailTrue(i)">{{passwordDetail}}</i>
        </span>
    </div>

    <div class="input-wrapper">
        <span class="input-title">Confirm Password</span>
        <div class="input-password">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock lock-logo"></i>
          </span>
          <p-password
            placeholder="Confirm password"
            styleClass="password"
            [toggleMask]="true"
            formControlName="confirmPassword"
            [feedback]="false"
          ></p-password>
        </div>
    </div>

    <button
      pButton
      type="submit"
      class="p-button-primary"
      [disabled]="!renewPasswordForm.valid"
    >
      Register
    </button>
  </form>
  