h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.table-wrapper {
    max-width: 90vw;

    .caption {
        display: flex;
        gap: 1rem;
    }
}

.button-structure {
    font-size: 0.75rem;
    padding: 0rem;
}