<h1>Manage Proposals</h1>

<div class="table-wrapper">
  <p-table
    [value]="proposals$ | async"
    #proposalTable
    [globalFilterFields]="[
      'type',
      'user.firstName',
      'user.lastName',
      'user.email',
      'department',
      'studyTitle'
    ]"
    dataKey="_id"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-striped"
    [columns]="cols"
  >
    <ng-template pTemplate="caption">
      <div class="caption">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              proposalTable.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Search keyword"
          />
        </span>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="proposalTable.exportCSV()"
          class="p-button-success"
          pTooltip="Export CSV"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="type">
          <div>Grant Type</div>
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="user.firstName">
          <div>First Name</div>
          <p-sortIcon field="user.firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="user.lastName">
          <div>Last Name</div>
          <p-sortIcon field="user.lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="user.email">
          <div>Email</div>
          <p-sortIcon field="user.email"></p-sortIcon>
        </th>
        <th pSortableColumn="department">
          <div>Department</div>
          <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="studyTitle">
          <div>Study Title</div>
          <p-sortIcon field="studyTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="amountRequested">
          <div>Amount Requested</div>
          <p-sortIcon field="amountRequested"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          <div>Status</div>
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="applicationDate">
          <div>Application Date</div>
          <p-sortIcon field="applicationDate"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proposal let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="proposal"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>

        <td>{{ GrantTypeEnum[proposal.type] }}</td>
        <td>{{ proposal.user.firstName }}</td>
        <td>{{ proposal.user.lastName }}</td>
        <td>{{ proposal.user.email }}</td>
        <td>{{ proposal.department }}</td>
        <td>{{ proposal.studyTitle }}</td>
        <td>{{ proposal.amountRequested | number }}₪</td>
        <td>
          <div class="status">
            <p-tag
              [severity]="statusSeverity[proposal.status]"
              [value]="ProposalStatus[proposal.status]"
              [icon]="statusIcon[proposal.status]"
            ></p-tag>
          </div>
          <div class="amount-given">
            Amount Given: {{ proposal.amountGiven | number }}₪
          </div>
        </td>
        <td>{{ proposal.applicationDate | date }}</td>
        <td class="actions">

          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-text manage-fields-btn"
            (click)="openCustomFieldsDialog(proposal)"
          >
            <img src="\assets\puzzle-piece.svg" alt="" height="25px" />
            <label>Manage Custom Fields</label>
          </button>

          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-text"
            label="Update Status"
            (click)="openUpdateStatusDialog(proposal)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <!--* line extension -->
    <ng-template pTemplate="rowexpansion" let-proposal>
      <tr class="expanded-row">
        <td colspan="11" class="expanded-cell">
          <div *ngIf="proposal.teamMembers && proposal.teamMembers.length > 0">
            <h3>Team Members:</h3>
            <table class="team-members-table">
              <tr>
                <th>Member Name</th>
                <th>Member Email</th>
                <th>Member Department</th>
                <th>Member Role</th>
              </tr>
              <tr *ngFor="let member of proposal.teamMembers">
                <td>{{ member.memberName }}</td>
                <td>{{ member.memberEmail }}</td>
                <td>{{ member.memberDepartment }}</td>
                <td>{{ member.memberRole }}</td>
              </tr>
            </table>
          </div>

          <div *ngIf="proposal.budgetParts && proposal.budgetParts.length > 0">
            <h3>Budget Parts:</h3>
            <table class="budget-parts-table">
              <tr>
                <th>Reason</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let budgetPart of proposal.budgetParts">
                <td>{{ budgetPart.reason }}</td>
                <td>{{ budgetPart.amount | number }}</td>
              </tr>
            </table>
            <b
              >Total Budget:
              {{ getTotalBudget(proposal.budgetParts) | number }}</b
            >
          </div>

          <div *ngIf="proposal.customFields" class="custom-fields">
            <h3>Custom Fields:</h3>

            <div
              *ngFor="let keyValuePair of proposal.customFields | keyvalue"
              class="custom-field"
            >
              <b>{{ keyValuePair.key }}:</b>
              <p>{{ keyValuePair.value }}</p>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">CV: 
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadCV)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">Description 
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadDescription)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">Grade transcripts & certificates
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadGradeTAndC)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">Work Commitment
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadWorkCommitment)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">Recommendation Letter
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadRecommendationLetter)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isDsDoctorlOrPostDocProposal(proposal.type)">
        <td colspan="10">Contact Recommenders
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadContactRecommenders)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isSeedOrDatasetCollectionProposal(proposal.type)">
        <td colspan="10">Research Introduction
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadResearchIntro)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isSeedOrDatasetCollectionProposal(proposal.type)">
        <td colspan="10">Innovation Project
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadInnovationProject)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isSeedOrDatasetCollectionProposal(proposal.type)">
        <td colspan="10">Team
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadTeam)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="isSeedOrDatasetCollectionProposal(proposal.type)">
        <td colspan="10">Budget
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadBudget)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="this.GrantTypeEnum[proposal.type] === 'Seed Research'">
        <td colspan="10">External Funding
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadExternalFunding)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="this.GrantTypeEnum[proposal.type] === 'Dataset Collection'">
        <td colspan="10">Dataset information
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadDatasetInfo)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="this.GrantTypeEnum[proposal.type] === 'Dataset Collection'">
        <td colspan="10">Ethics
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadEthics)">
          download file
          </button>
        </td>
      </tr>
      <tr *ngIf="this.GrantTypeEnum[proposal.type] === 'Dataset Collection'">
        <td colspan="10">Copyrights
          <button
          type="button"
          pButton
          pRipple
          class="p-button-primary button-structure"
          pTooltip="Download file"
          tooltipPosition="bottom"
          (click)="getFile(proposal.uploadCopyrights)">
          download file
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
