<h1>Manage Proposals</h1>

<div class="table-wrapper">
  <p-table
    [value]="proposals$ | async"
    #proposalTable
    [globalFilterFields]="[
      'type',
      'user.firstName',
      'user.lastName',
      'user.email',
      'department',
      'studyTitle'
    ]"
    dataKey="_id"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-striped"
    [columns]="cols"
  >
    <ng-template pTemplate="caption">
      <div class="caption">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              proposalTable.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Search keyword"
          />
        </span>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          (click)="proposalTable.exportCSV()"
          class="p-button-success"
          pTooltip="Export CSV"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="type">
          <div>Grant Type</div>
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="user.firstName">
          <div>First Name</div>
          <p-sortIcon field="user.firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="user.lastName">
          <div>Last Name</div>
          <p-sortIcon field="user.lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="user.email">
          <div>Email</div>
          <p-sortIcon field="user.email"></p-sortIcon>
        </th>
        <th pSortableColumn="department">
          <div>Department</div>
          <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="studyTitle">
          <div>Study Title</div>
          <p-sortIcon field="studyTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="amountRequested">
          <div>Amount Requested</div>
          <p-sortIcon field="amountRequested"></p-sortIcon>
        </th>
        <th pSortableColumn="amountGiven">
          <div>Amount Given</div>
          <p-sortIcon field="amountGiven"></p-sortIcon>
        </th>
        <th pSortableColumn="applicationDate">
          <div>Application Date</div>
          <p-sortIcon field="applicationDate"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proposal let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="proposal"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>

        <td>{{ GrantTypeEnum[proposal.type] }}</td>
        <td>{{ proposal.user.firstName }}</td>
        <td>{{ proposal.user.lastName }}</td>
        <td>{{ proposal.user.email }}</td>
        <td>{{ proposal.department }}</td>
        <td>{{ proposal.studyTitle }}</td>
        <td>{{ proposal.amountRequested | number }}</td>
        <td>{{ proposal.amountGiven | number }}</td>
        <td>{{ proposal.applicationDate | date }}</td>
      </tr>
    </ng-template>

    <!--* line extension -->
    <ng-template pTemplate="rowexpansion" let-proposal>
      <tr>
        <td colspan="10">More Data for {{ proposal.studyTitle }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
